/*  your css code here. If applicable */
body {
    background-color: #a25de4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

#buttons {
    display: flex;
    gap: 20px;
}

.btn {
    background-color: #5b2c91;
    color: white;
    border: none;
    padding: 15px 25px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: #432169;
}

.stop {
    background-color: #5b2c91;
}

.stop:hover {
    background-color: #6a1ebd;
}
